{
  "parser": "babel-eslint",

  "plugins": [
    "babel",
    "import"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "settings": {
    "import/resolver": {
      "webpack": {
      }
    }
  },

  "rules": {
    "import/no-unresolved": 2,
  }
}
